Source: mendelscan
Section: science
Priority: optional
Build-Depends: debhelper (>= 7), ant, javahelper, default-jdk
Maintainer: The Genome Institute <gmt@genome.wustl.edu>

Package: mendelscan
Architecture: amd64
Depends: default-jre-headless, jarwrapper
Description: MendelScan!
Conflicts: mendel-scan
Replaces: mendel-scan
